In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\BigDataLocalSetup\\Spark'

In [2]:
import pyspark
import pyspark.sql 
print(dir(pyspark))
print(dir(pyspark.sql))

['Accumulator', 'AccumulatorParam', 'BarrierTaskContext', 'BarrierTaskInfo', 'BasicProfiler', 'Broadcast', 'HiveContext', 'MarshalSerializer', 'PickleSerializer', 'Profiler', 'RDD', 'RDDBarrier', 'Row', 'SQLContext', 'SparkConf', 'SparkContext', 'SparkFiles', 'SparkJobInfo', 'SparkStageInfo', 'StatusTracker', 'StorageLevel', 'TaskContext', '_NoValue', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_globals', 'accumulators', 'broadcast', 'cloudpickle', 'conf', 'context', 'copy_func', 'files', 'find_spark_home', 'heapq3', 'java_gateway', 'join', 'keyword_only', 'profiler', 'rdd', 'rddsampler', 'resource', 'resultiterable', 'serializers', 'shuffle', 'since', 'sql', 'statcounter', 'status', 'storagelevel', 'taskcontext', 'traceback_utils', 'types', 'util', 'version', 'wraps']
['Catalog', 'Column', 'DataFrame', 'DataFrameNaFunctions', 'DataFrameReader', 'DataFrameStatFunctions', 'DataFrameWriter', 'GroupedData', 'HiveContext', 'PandasCogroupedOps', 'Row', 'SQLContext', 'SparkSession', 'UDFRegistration', 'Window', 'WindowSpec', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'absolute_import', 'catalog', 'column', 'conf', 'context', 'dataframe', 'group', 'pandas', 'readwriter', 'session', 'streaming', 'types', 'udf', 'utils', 'window']

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import Column
from pyspark.sql.functions import upper
from pyspark.sql.functions import isnan, when, count, col, sum, desc, asc
spark = SparkSession.builder.appName("HelloWorldApp").master('local[*]').getOrCreate()

In [4]:
data_frame=spark.read.csv("C:\\Users\\Bharath\\Desktop\\eda\\dataset\\covid_19_india.csv", inferSchema=True, header =True)
data_frame2=spark.read.csv("C:\\Users\\Bharath\\Desktop\\eda\\dataset\\covid_vaccine_statewise.csv", inferSchema=True, header =True)
data_frame3=spark.read.csv("C:\\Users\\Bharath\\Desktop\\eda\\dataset\\StatewiseTestingDetails.csv", inferSchema=True, header =True)

In [5]:
print("****************covid_19_india.csv******************************\n")
data_frame.printSchema()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

****************covid_19_india.csv******************************

root
 |-- Sno: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- State/UnionTerritory: string (nullable = true)
 |-- ConfirmedIndianNational: string (nullable = true)
 |-- ConfirmedForeignNational: string (nullable = true)
 |-- Cured: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Confirmed: integer (nullable = true)

In [6]:
data_frame.columns

['Sno',
 'Date',
 'Time',
 'State/UnionTerritory',
 'ConfirmedIndianNational',
 'ConfirmedForeignNational',
 'Cured',
 'Deaths',
 'Confirmed']

In [7]:
len(data_frame.columns)

9

In [8]:
data_frame.count()

16526

In [9]:
data_frame.withColumn('ActiveCases', data_frame.Confirmed-data_frame.Deaths-data_frame.Cured).show()

+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-----------+
|Sno|      Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|ActiveCases|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-----------+
|  1|2020-01-30|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|          1|
|  2|2020-01-31|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|          1|
|  3|2020-02-01|6:00 PM|              Kerala|                      2|                       0|    0|     0|        2|          2|
|  4|2020-02-02|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
|  5|2020-02-03|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
|  6|2020-02-04|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
|  7|2020-02-05|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
|  8|2020-02-06|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
|  9|2020-02-07|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 10|2020-02-08|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 11|2020-02-09|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 12|2020-02-10|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 13|2020-02-11|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 14|2020-02-12|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 15|2020-02-13|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 16|2020-02-14|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 17|2020-02-15|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 18|2020-02-16|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 19|2020-02-17|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
| 20|2020-02-18|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|          3|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-----------+
only showing top 20 rows

In [10]:
# Using select() to Add Multiple Column
data_frame.select('*', ((data_frame.Confirmed-(data_frame.Cured + data_frame.Deaths)).alias('confirm'))).show()

+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-------+
|Sno|      Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|confirm|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-------+
|  1|2020-01-30|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|      1|
|  2|2020-01-31|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|      1|
|  3|2020-02-01|6:00 PM|              Kerala|                      2|                       0|    0|     0|        2|      2|
|  4|2020-02-02|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
|  5|2020-02-03|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
|  6|2020-02-04|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
|  7|2020-02-05|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
|  8|2020-02-06|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
|  9|2020-02-07|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 10|2020-02-08|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 11|2020-02-09|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 12|2020-02-10|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 13|2020-02-11|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 14|2020-02-12|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 15|2020-02-13|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 16|2020-02-14|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 17|2020-02-15|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 18|2020-02-16|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 19|2020-02-17|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
| 20|2020-02-18|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|      3|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+-------+
only showing top 20 rows

In [11]:
data_frame.select('*').describe().show(vertical=True)

-RECORD 0----------------------------------------
 summary                  | count
 Sno                      | 16526
 Date                     | 16526
 Time                     | 16526
 State/UnionTerritory     | 16526
 ConfirmedIndianNational  | 16526
 ConfirmedForeignNational | 16526
 Cured                    | 16526
 Deaths                   | 16526
 Confirmed                | 16526
-RECORD 1----------------------------------------
 summary                  | mean
 Sno                      | 8263.5
 Date                     | null
 Time                     | null
 State/UnionTerritory     | null
 ConfirmedIndianNational  | 12.188340807174887
 ConfirmedForeignNational | 1.4955156950672646
 Cured                    | 224545.9802735084
 Deaths                   | 3335.16053491468
 Confirmed                | 246823.90312235267
-RECORD 2----------------------------------------
 summary                  | stddev
 Sno                      | 4770.789609697749
 Date                     | null
 Time                     | null
 State/UnionTerritory     | null
 ConfirmedIndianNational  | 21.582253392789077
 ConfirmedForeignNational | 3.57629242180641
 Cured                    | 495453.45797039923
 Deaths                   | 8890.528988545258
 Confirmed                | 541404.365345987
-RECORD 3----------------------------------------
 summary                  | min
 Sno                      | 1
 Date                     | 2020-01-30
 Time                     | 10:00 AM
 State/UnionTerritory     | Andaman and Nicob...
 ConfirmedIndianNational  | -
 ConfirmedForeignNational | -
 Cured                    | 0
 Deaths                   | 0
 Confirmed                | 0
-RECORD 4----------------------------------------
 summary                  | max
 Sno                      | 16526
 Date                     | 2021-06-28
 Time                     | 9:30 PM
 State/UnionTerritory     | West Bengal
 ConfirmedIndianNational  | 9
 ConfirmedForeignNational | 9
 Cured                    | 5790113
 Deaths                   | 121286
 Confirmed                | 6036821

In [12]:
data_frame.show()

+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|Sno|      Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|  1|2020-01-30|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|
|  2|2020-01-31|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|
|  3|2020-02-01|6:00 PM|              Kerala|                      2|                       0|    0|     0|        2|
|  4|2020-02-02|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  5|2020-02-03|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  6|2020-02-04|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  7|2020-02-05|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  8|2020-02-06|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  9|2020-02-07|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 10|2020-02-08|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 11|2020-02-09|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 12|2020-02-10|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 13|2020-02-11|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 14|2020-02-12|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 15|2020-02-13|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 16|2020-02-14|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 17|2020-02-15|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 18|2020-02-16|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 19|2020-02-17|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 20|2020-02-18|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
+---+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
only showing top 20 rows

In [13]:
data_frame.filter(data_frame.Deaths == 100).show()

+-----+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|  Sno|      Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+-----+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
| 3075|2020-06-16|8:00 AM|             Haryana|                      -|                       -| 3565|   100|     7722|
| 8438|2020-11-15|8:00 AM|           Meghalaya|                      -|                       -| 9518|   100|    10632|
| 8473|2020-11-16|8:00 AM|           Meghalaya|                      -|                       -| 9594|   100|    10665|
| 8714|2020-11-23|8:00 AM|              Ladakh|                      -|                       -| 6911|   100|     7939|
| 8760|2020-11-24|8:00 AM|              Sikkim|                      -|                       -| 4406|   100|     4736|
|14355|2021-04-29|8:00 AM|            Nagaland|                      -|                       -|12516|   100|    13569|
|14391|2021-04-30|8:00 AM|            Nagaland|                      -|                       -|12577|   100|    13750|
+-----+----------+-------+--------------------+-----------------------+------------------------+-----+------+---------+

In [14]:
data_frame.groupBy('State/UnionTerritory').max().show()

+--------------------+--------+----------+-----------+--------------+
|State/UnionTerritory|max(Sno)|max(Cured)|max(Deaths)|max(Confirmed)|
+--------------------+--------+----------+-----------+--------------+
|            Nagaland|   16515|     22951|        487|         24961|
|           Karnataka|   16506|   2698822|      34743|       2834630|
|              Odisha|   16516|    867402|       3887|        900470|
|              Kerala|   16507|   2775967|      12879|       2888894|
|              Ladakh|   16508|     19481|        202|         19964|
|Dadra and Nagar H...|   16498|     10490|          4|         10539|
|          Tamil Nadu|   16521|   2390783|      32290|       2465874|
|           Telengana|   14434|    362160|       2312|        443360|
|        Chhattisgarh|   16497|    973262|      13431|        993289|
|      Andhra Pradesh|   16492|   1822500|      12599|       1879872|
|         Lakshadweep|   16509|      9337|         48|          9681|
|      Madhya Pradesh|   16510|    779963|       8917|        789696|
|              Punjab|   16518|    574872|      15991|        594883|
|             Manipur|   16512|     61038|       1124|         67986|
|         Daman & Diu|    2891|         0|          0|             2|
|Cases being reass...|    4251|         0|          0|          9265|
|                 Goa|   16500|    160548|       3039|        166098|
|             Mizoram|   16514|     15040|         91|         19455|
|           Bihar****|   15883|    701234|       9452|        715730|
|Dadra and Nagar H...|   15670|     10261|          4|         10377|
+--------------------+--------+----------+-----------+--------------+
only showing top 20 rows

In [15]:
df=data_frame.filter(data_frame["Date"]>='2021-06-01')
print("showing the latest data_set")
df.show(10)

showing the latest data_set
+-----+----------+-------+--------------------+-----------------------+------------------------+-------+------+---------+
|  Sno|      Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|  Cured|Deaths|Confirmed|
+-----+----------+-------+--------------------+-----------------------+------------------------+-------+------+---------+
|15519|2021-06-01|8:00 AM|Andaman and Nicob...|                      -|                       -|   6719|   115|     7005|
|15520|2021-06-01|8:00 AM|      Andhra Pradesh|                      -|                       -|1528360| 10930|  1693085|
|15521|2021-06-01|8:00 AM|   Arunachal Pradesh|                      -|                       -|  23402|   115|    27272|
|15522|2021-06-01|8:00 AM|               Assam|                      -|                       -| 354810|  3365|   411216|
|15523|2021-06-01|8:00 AM|               Bihar|                      -|                       -| 685362|  5163|   706761|
|15524|2021-06-01|8:00 AM|          Chandigarh|                      -|                       -|  57526|   753|    60046|
|15525|2021-06-01|8:00 AM|        Chhattisgarh|                      -|                       -| 922674| 13048|   971463|
|15526|2021-06-01|8:00 AM|Dadra and Nagar H...|                      -|                       -|   9957|     4|    10286|
|15527|2021-06-01|8:00 AM|               Delhi|                      -|                       -|1390963| 24237|  1426240|
|15528|2021-06-01|8:00 AM|                 Goa|                      -|                       -| 140254|  2649|   155666|
+-----+----------+-------+--------------------+-----------------------+------------------------+-------+------+---------+
only showing top 10 rows

In [16]:
df.groupBy('State/UnionTerritory').agg(sum("Cured").alias("sum_cured")).sort(desc("sum_cured")).show()

+--------------------+---------+
|State/UnionTerritory|sum_cured|
+--------------------+---------+
|         Maharashtra|157746115|
|              Kerala| 72246911|
|           Karnataka| 70825739|
|          Tamil Nadu| 60102878|
|      Andhra Pradesh| 47652155|
|       Uttar Pradesh| 46688518|
|         West Bengal| 39357201|
|               Delhi| 39249874|
|        Chhattisgarh| 26774192|
|           Rajasthan| 25985427|
|             Gujarat| 22306402|
|              Odisha| 22151430|
|      Madhya Pradesh| 21614389|
|             Haryana| 20988917|
|               Bihar| 18253723|
|           Telangana| 16146510|
|              Punjab| 15546236|
|               Assam| 11597010|
|           Jharkhand|  9352551|
|         Uttarakhand|  8966174|
+--------------------+---------+
only showing top 20 rows

In [17]:
df.groupBy('State/UnionTerritory').agg(sum("Confirmed").alias("sum_confirmed")).sort(desc("sum_confirmed")).show()

+--------------------+-------------+
|State/UnionTerritory|sum_confirmed|
+--------------------+-------------+
|         Maharashtra|    165326813|
|           Karnataka|     77012240|
|              Kerala|     76274828|
|          Tamil Nadu|     65257123|
|      Andhra Pradesh|     50496272|
|       Uttar Pradesh|     47633221|
|         West Bengal|     40690584|
|               Delhi|     40063583|
|        Chhattisgarh|     27598894|
|           Rajasthan|     26557842|
|              Odisha|     23683884|
|             Gujarat|     22934149|
|      Madhya Pradesh|     22038370|
|             Haryana|     21413709|
|               Bihar|     18624561|
|           Telangana|     16874425|
|              Punjab|     16399405|
|               Assam|     12884862|
|           Jharkhand|      9600264|
|         Uttarakhand|      9415069|
+--------------------+-------------+
only showing top 20 rows

In [18]:
df.groupBy('State/UnionTerritory').agg(sum("Deaths").alias("sum_deaths")).sort(desc("sum_deaths")).show()

+--------------------+----------+
|State/UnionTerritory|sum_deaths|
+--------------------+----------+
|         Maharashtra|   3066191|
|           Karnataka|    915063|
|          Tamil Nadu|    816035|
|               Delhi|    692969|
|       Uttar Pradesh|    608034|
|         West Bengal|    470626|
|              Punjab|    432960|
|        Chhattisgarh|    372359|
|      Andhra Pradesh|    333286|
|              Kerala|    310021|
|             Gujarat|    279444|
|             Haryana|    251059|
|           Rajasthan|    245610|
|      Madhya Pradesh|    239412|
|               Bihar|    210006|
|         Uttarakhand|    192604|
|           Jharkhand|    142091|
|   Jammu and Kashmir|    116470|
|               Assam|    110551|
|           Telangana|     97364|
+--------------------+----------+
only showing top 20 rows

In [19]:
print("****************covid_vaccine_statewise.csv******************************\n")
data_frame2.printSchema()

****************covid_vaccine_statewise.csv******************************

root
 |-- Updated On: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Total Individuals Vaccinated: double (nullable = true)
 |-- Total Sessions Conducted: double (nullable = true)
 |-- Total Sites : double (nullable = true)
 |-- First Dose Administered: double (nullable = true)
 |-- Second Dose Administered: double (nullable = true)
 |-- Male(Individuals Vaccinated): double (nullable = true)
 |-- Female(Individuals Vaccinated): double (nullable = true)
 |-- Transgender(Individuals Vaccinated): double (nullable = true)
 |-- Total Covaxin Administered: double (nullable = true)
 |-- Total CoviShield Administered: double (nullable = true)
 |-- Total Sputnik V Administered: double (nullable = true)
 |-- AEFI: double (nullable = true)
 |-- 18-45 years (Age): double (nullable = true)
 |-- 45-60 years (Age): double (nullable = true)
 |-- 60+ years (Age): double (nullable = true)
 |-- Total Doses Administered: integer (nullable = true)

In [20]:
data_frame2

+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+
|Updated On|State|Total Individuals Vaccinated|Total Sessions Conducted|Total Sites |First Dose Administered|Second Dose Administered|Male(Individuals Vaccinated)|Female(Individuals Vaccinated)|Transgender(Individuals Vaccinated)|Total Covaxin Administered|Total CoviShield Administered|Total Sputnik V Administered|AEFI|18-45 years (Age)|45-60 years (Age)|60+ years (Age)|Total Doses Administered|
+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+
|16/01/2021|India|                     48276.0|                  3455.0|      2957.0|                48276.0|                     0.0|                     23757.0|                       24517.0|                                2.0|                     579.0|                      47697.0|                        null|null|             null|             null|           null|                   48276|
|17/01/2021|India|                     58604.0|                  8532.0|      4954.0|                58604.0|                     0.0|                     27348.0|                       31252.0|                                4.0|                     635.0|                      57969.0|                        null|null|             null|             null|           null|                   58604|
|18/01/2021|India|                     99449.0|                 13611.0|      6583.0|                99449.0|                     0.0|                     41361.0|                       58083.0|                                5.0|                    1299.0|                      98150.0|                        null|null|             null|             null|           null|                   99449|
|19/01/2021|India|                    195525.0|                 17855.0|      7951.0|               195525.0|                     0.0|                     81901.0|                      113613.0|                               11.0|                    3017.0|                     192508.0|                        null|null|             null|             null|           null|                  195525|
|20/01/2021|India|                    251280.0|                 25472.0|     10504.0|               251280.0|                     0.0|                     98111.0|                      153145.0|                               24.0|                    3946.0|                     247334.0|                        null|null|             null|             null|           null|                  251280|
|21/01/2021|India|                    365965.0|                 32226.0|     12600.0|               365965.0|                     0.0|                    132784.0|                      233143.0|                               38.0|                    5367.0|                     360598.0|                        null|null|             null|             null|           null|                  365965|
|22/01/2021|India|                    549381.0|                 36988.0|     14115.0|               549381.0|                     0.0|                    193899.0|                      355402.0|                               80.0|                    8128.0|                     541253.0|                        null|null|             null|             null|           null|                  549381|
|23/01/2021|India|                    759008.0|                 43076.0|     15605.0|               759008.0|                     0.0|                    267856.0|                      491049.0|                              103.0|                   11192.0|                     747816.0|                        null|null|             null|             null|           null|                  759008|
|24/01/2021|India|                    835058.0|                 49851.0|     18111.0|               835058.0|                     0.0|                    296283.0|                      538647.0|                              128.0|                   13156.0|                     821902.0|                        null|null|             null|             null|           null|                  835058|
|25/01/2021|India|                   1277104.0|                 55151.0|     19682.0|              1277104.0|                     0.0|                    444137.0|                      832766.0|                              201.0|                   18858.0|                    1258246.0|                        null|null|             null|             null|           null|                 1277104|
|26/01/2021|India|                   1293784.0|                 60821.0|     21467.0|              1293784.0|                     0.0|                    449119.0|                      844448.0|                              217.0|                   19604.0|                    1274180.0|                        null|null|             null|             null|           null|                 1293784|
|27/01/2021|India|                   1726490.0|                 69495.0|     23737.0|              1726490.0|                     0.0|                    586081.0|                     1140137.0|                              272.0|                   27377.0|                    1699113.0|                        null|null|             null|             null|           null|                 1726490|
|28/01/2021|India|                   2295491.0|                 78523.0|     25610.0|              2295491.0|                     0.0|                    771229.0|                     1523939.0|                              323.0|                   36921.0|                    2258570.0|                        null|null|             null|             null|           null|                 2295491|
|29/01/2021|India|                   2814803.0|                 83664.0|     26219.0|              2814803.0|                     0.0|                    939069.0|                     1875368.0|                              366.0|                   43604.0|                    2771199.0|                        null|null|             null|             null|           null|                 2814803|
|30/01/2021|India|                   3067736.0|                 87822.0|     26643.0|              3067736.0|                     0.0|                   1022380.0|                     2044950.0|                              406.0|                   48300.0|                    3019436.0|                        null|null|             null|             null|           null|                 3067736|
|31/01/2021|India|                   3127107.0|                 91593.0|     27011.0|              3127107.0|                     0.0|                   1061307.0|                     2065391.0|                              409.0|                   58890.0|                    3068217.0|                        null|null|             null|             null|           null|                 3127107|
|01/02/2021|India|                   3350265.0|                 97432.0|     27751.0|              3350265.0|                     0.0|                   1152344.0|                     2197431.0|                              490.0|                   69372.0|                    3280893.0|                        null|null|             null|             null|           null|                 3350265|
|02/02/2021|India|                   3527971.0|                106461.0|     29522.0|              3527971.0|                     0.0|                   1218507.0|                     2308898.0|                              566.0|                   76794.0|                    3451177.0|                        null|null|             null|             null|           null|                 3527971|
|03/02/2021|India|                   3825835.0|                116568.0|     31167.0|              3825835.0|                     0.0|                   1324273.0|                     2500887.0|                              675.0|                   86001.0|                    3739834.0|                        null|null|             null|             null|           null|                 3825835|
|04/02/2021|India|                   4314304.0|                126714.0|     32505.0|              4314304.0|                     0.0|                   1504527.0|                     2809042.0|                              735.0|                   99015.0|                    4215289.0|                        null|null|             null|             null|           null|                 4314304|
+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+
only showing top 20 rows

In [21]:
print("*****************StatewiseTestingDetails.csv*****************************\n")
data_frame3.printSchema()
data_frame3

*****************StatewiseTestingDetails.csv*****************************

root
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- TotalSamples: double (nullable = true)
 |-- Negative: string (nullable = true)
 |-- Positive: double (nullable = true)

+----------+--------------------+------------+--------+--------+
|      Date|               State|TotalSamples|Negative|Positive|
+----------+--------------------+------------+--------+--------+
|2020-04-17|Andaman and Nicob...|      1403.0|    1210|    12.0|
|2020-04-24|Andaman and Nicob...|      2679.0|    null|    27.0|
|2020-04-27|Andaman and Nicob...|      2848.0|    null|    33.0|
|2020-05-01|Andaman and Nicob...|      3754.0|    null|    33.0|
|2020-05-16|Andaman and Nicob...|      6677.0|    null|    33.0|
|2020-05-19|Andaman and Nicob...|      6965.0|    null|    33.0|
|2020-05-20|Andaman and Nicob...|      7082.0|    null|    33.0|
|2020-05-21|Andaman and Nicob...|      7167.0|    null|    33.0|
|2020-05-22|Andaman and Nicob...|      7263.0|    null|    33.0|
|2020-05-23|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-24|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-25|Andaman and Nicob...|      7363.0|    null|    33.0|
|2020-05-26|Andaman and Nicob...|      7448.0|    null|    33.0|
|2020-05-27|Andaman and Nicob...|      7499.0|    null|    33.0|
|2020-05-28|Andaman and Nicob...|      7519.0|    null|    33.0|
|2020-05-29|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-30|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-31|Andaman and Nicob...|      7706.0|    null|    33.0|
|2020-06-01|Andaman and Nicob...|      7805.0|    null|    33.0|
|2020-06-02|Andaman and Nicob...|      8086.0|    null|    33.0|
+----------+--------------------+------------+--------+--------+
only showing top 20 rows

In [22]:
data_frame3.show()

+----------+--------------------+------------+--------+--------+
|      Date|               State|TotalSamples|Negative|Positive|
+----------+--------------------+------------+--------+--------+
|2020-04-17|Andaman and Nicob...|      1403.0|    1210|    12.0|
|2020-04-24|Andaman and Nicob...|      2679.0|    null|    27.0|
|2020-04-27|Andaman and Nicob...|      2848.0|    null|    33.0|
|2020-05-01|Andaman and Nicob...|      3754.0|    null|    33.0|
|2020-05-16|Andaman and Nicob...|      6677.0|    null|    33.0|
|2020-05-19|Andaman and Nicob...|      6965.0|    null|    33.0|
|2020-05-20|Andaman and Nicob...|      7082.0|    null|    33.0|
|2020-05-21|Andaman and Nicob...|      7167.0|    null|    33.0|
|2020-05-22|Andaman and Nicob...|      7263.0|    null|    33.0|
|2020-05-23|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-24|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-25|Andaman and Nicob...|      7363.0|    null|    33.0|
|2020-05-26|Andaman and Nicob...|      7448.0|    null|    33.0|
|2020-05-27|Andaman and Nicob...|      7499.0|    null|    33.0|
|2020-05-28|Andaman and Nicob...|      7519.0|    null|    33.0|
|2020-05-29|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-30|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-31|Andaman and Nicob...|      7706.0|    null|    33.0|
|2020-06-01|Andaman and Nicob...|      7805.0|    null|    33.0|
|2020-06-02|Andaman and Nicob...|      8086.0|    null|    33.0|
+----------+--------------------+------------+--------+--------+
only showing top 20 rows

In [23]:
#Step1:- Data Analysis 
 #       showing no null values 
print("No null values in the data_frame")


data_frame.select([count(when(col('Date').isNull(),True))]).show()
data_frame.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data_frame.columns]).show()


#data_frame2.select([count(when(col('Date').isNull(),True))]).show()
data_frame2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data_frame2.columns]).show()


#data_frame3.select([count(when(col('Date').isNull(),True))]).show()
data_frame3.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data_frame3.columns]).show()

No null values in the data_frame
+---------------------------------------------+
|count(CASE WHEN (Date IS NULL) THEN true END)|
+---------------------------------------------+
|                                            0|
+---------------------------------------------+

+---+----+----+--------------------+-----------------------+------------------------+-----+------+---------+
|Sno|Date|Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+---+----+----+--------------------+-----------------------+------------------------+-----+------+---------+
|  0|   0|   0|                   0|                      0|                       0|    0|     0|        0|
+---+----+----+--------------------+-----------------------+------------------------+-----+------+---------+

+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+
|Updated On|State|Total Individuals Vaccinated|Total Sessions Conducted|Total Sites |First Dose Administered|Second Dose Administered|Male(Individuals Vaccinated)|Female(Individuals Vaccinated)|Transgender(Individuals Vaccinated)|Total Covaxin Administered|Total CoviShield Administered|Total Sputnik V Administered|AEFI|18-45 years (Age)|45-60 years (Age)|60+ years (Age)|Total Doses Administered|
+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+
|         0|    0|                           1|                       1|           1|                      1|                       1|                           1|                             1|                                  1|                         1|                            1|                        4627|2184|             2187|             2186|           2186|                       0|
+----------+-----+----------------------------+------------------------+------------+-----------------------+------------------------+----------------------------+------------------------------+-----------------------------------+--------------------------+-----------------------------+----------------------------+----+-----------------+-----------------+---------------+------------------------+

+----+-----+------------+--------+--------+
|Date|State|TotalSamples|Negative|Positive|
+----+-----+------------+--------+--------+
|   0|    0|           0|    8232|    9237|
+----+-----+------------+--------+--------+